<%= form_for(@task, html: { class: "form-horizontal form-narrow" }) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <fieldset>
    <div class="form-group">
      <%= f.text_field :title, placeholder: "Title", class: "form-control input-lg" %>
    </div>
  </fieldset>

  <fieldset>
    <div class="form-group">
      <%= f.select :priority, options_for_select([["Low", 1], ["Medium", 2], ["High", 3]]), {}, class: "form-control input-lg" %>
    </div>

    <div class="form-group">
      <%= f.text_field :deadline, placeholder: "Deadline", class: "form-control input-lg" %>
    </div>
  </fieldset>

  <fieldset>
    <div class="form-group">
      <%= f.text_area :description, class: "form-control input-lg" %>
    </div>
  </fieldset>

  <fieldset class="text-center">
    <% if @task.new_record? %>
      <%= f.submit "Create", class: "btn btn-lg btn-primary" %>
    <% else %>
      <%= f.submit "Save", class: "btn btn-lg btn-primary" %>
    <% end %>
  </fieldset>
<% end %>
