<%= content_tag :tr, data: { link: task_path(task) } do %>
  <td>
    <div class="pull-left statebox">
      <%= link_to image_tag(task.done? ? "checked_checkbox.png" : "unchecked_checkbox.png", alt: t("tasks.states.done"), class: "thumb task_checkbox non-linkable"), toggle_state_task_path(task) %>
    </div>
    <div class="pull-left">
      <div class="row">
        <h4><%= task.title %></h4>
      </div>
      <div class="row">
        <div class="cell">
          <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
          <%= distance_to_deadline_in_words(task) %>
        </div>
        <div class="cell">
          <span class="glyphicon glyphicon-flag" aria-hidden="true"></span>
          <%= priority_in_words(task.priority) %>
        </div>
      </div>
    </div>
  </td>
<% end %>
