<div class="page-header content-component">
  <h2><%= t("tasks.index.my_tasks") %></h2>
  <div class="list-menu pull-right">
    <%= link_to t("tasks.new.title"), new_task_path %>
  </div>
</div>

<div class="content-component">
  <%= will_paginate %>
  <table class="table">
    <tbody>
      <%= render @tasks %>
    </tbody>
  </table>
  <%= will_paginate %>
</div>
