<div class="page-header content-component">
  <h2><%= @task.title %></h2>
  <div class="list-menu pull-right">
    <%= link_to "Edit", edit_task_path(@task) %>
    | <%= link_to "Delete", @task, method: :delete, data: { confirm: "You sure?" } %>
  </div>
</div>

<div class="content-component">
  <div class="profile-info list-info">
    <div class="pull-left">
      <dl class="dl-horizontal">
        <dt>
          <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
          Status
        </dt>
        <dd>
          <%= t("tasks.states.#{@task.state}") %>
        </dd>
        <dt>
          <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
          Deadline
        </dt>
        <dd>
          <%= to_datetime_format(@task.deadline) %>
          (<%= distance_to_deadline_in_words(@task) %>)
        </dd>
        <dt>
          <span class="glyphicon glyphicon-flag" aria-hidden="true"></span>
          Priority
        </dt>
        <dd>
          <%= priority_in_words(@task.priority) %>
        </dd>
      </dl>
    </div>

    <div class="action-menu pull-right">
      <%= link_to "Start", start_task_path(@task), role: "button", class: "btn btn-default btn-primary" if @task.open? %>
      <%= link_to "Close", close_task_path(@task), role: "button", class: "btn btn-default btn-primary" if @task.in_progress? %>
    </div>
  </div>
</div>
