<div class="page-header content-component">
  <h2>Edit my profile</h2>
</div>

<div class="content-component">
  <%= form_for(@user, html: { class: "form-horizontal form-aligned" }) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

    <fieldset>
      <div class="form-group">
        <label class="control-label col-sm-3" for="email">Email:</label>
        <div class="col-sm-9">
          <%= f.email_field :email, placeholder: "Email", class: "form-control input-lg" %>
        </div>
      </div>
    </fieldset>

    <fieldset>
      <%= link_to "Cancel", :back, class: "btn btn-lg btn-default pull-left" %>
      <%= f.submit "Save", class: "btn btn-lg btn-primary pull-right" %>
    </fieldset>
  <% end %>
</div>
