<div class="page-header content-component">
  <h2>My profile</h2>
  <div class="list-menu pull-right">
    <% if current_user?(@user) %>
      <%= link_to "Edit", edit_user_path(@user) %>
    <% elsif current_user.is_admin? %>
      <%= link_to "Delete", @user, method: :delete, data: { confirm: "You sure?" } %>
    <% end %>
  </div>
</div>

<div class="content-component">
  <div class="pull-left">
    <%= image_tag("user.png", alt: "avatar", class: "profile-image") %>
  </div>
  <div class="pull-left profile-info">
    <h3><%= @user.name %></h3>
    <% if @user.first_name.present? and @user.second_name.present? %>
      <h4><%= @user.email %></h4>
    <% end %>
  </div>
</div>
