<div id="sidebar">
  <div class="text-center">
    <%= image_tag("user.png", alt: "avatar", id: "avatar") %>
    <span id="title"><%= current_user.email %></span>
  </div>
  <nav id="navigation">
    <ul>
      <li id="settings-bullet"><%= link_to "Settings", edit_user_path(current_user), class: "text-right" %></li>
      <li id="logout-bullet"><%= link_to "Log out", logout_path, method: :delete, class: "text-right" %></li>
    </ul>
  </nav>
</div>

<div id="content">
  <div id="messages">
    <% flash.each do |message_type, message| %>
      <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
    <% end %>
  </div>

  <%= yield %>
</div>

<% parent_layout "base" %>
