<div id="page">
  <div id="navigation">
    <div class="wrapper">
      <div class="container">
        <%= link_to root_path do %>
          <div id="header" class="pull-left">
            <span>inter</span>
          </div>
        <% end %>
        <div class="pull-right">
          <li>
            <% if logged_in? %>
              <%= link_to current_user.email, user_path(current_user) %>
            <% else %>
              <%= link_to "LOG IN", login_path %>
            <% end %>
          </li>
        </div>
      </div>
    </div>
  </div>

  <% if flash.present? %>
    <div id="messages">
      <% flash.each do |message_type, message| %>
        <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
      <% end %>
    </div>
  <% end %>

  <div id="content">
    <%= yield %>
  </div>
</div>

<% parent_layout "base" %>
